body{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 0, 0.6);
    background-size: cover;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.titulo{
    background-color: white;
    border-radius: 20px;
    width: 800px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0px 20px inset black, 0 0 20px black;
}

h1{
    text-transform: uppercase;
    font-size: 26pt;
}

h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
}

p{
    font-size: 12pt;
    font-weight: bold;
    width: 65%;
}
.contain{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.bloco{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 350px;
    width: 20%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0px 20px inset black, 0 0 20px black;
    transition: .5s;
    text-align: center;
}

.bloco:hover{
    transform: scale(1.05) translateY(-15px);
    background-color: rgba(255, 255, 255, 0.5);
    /* visibility: hidden; */
}

.icon{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    background-image: url("js-square-brands.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fab{
    background-color: black;
    color: yellow;
    display: none;

}



